body {
    background-image:url(https://media-cldnry.s-nbcnews.com/image/upload/t_fit-2000w,f_auto,q_auto:best/newscms/2019_06/2746941/190208-stock-money-fanned-out-ew-317p.jpg);
    font-family: 'Poppins', sans-serif;
}

h2{
    font-size: 2 rem;
    font-weight: bold;
}